@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #f3f3f3;
}

#navbar {
    background-color: #002349;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    color: #361111;
    max-width: 157px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    
}

.nav-links li {
    padding-top: 9px;
    margin-right: 30px;
    padding-left: 0px;
    width: 40px;


}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: gold;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.brand-logo.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.card {
  width: 700px;
  height: 170px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 10px;
  }

  
  #signup {
    margin-top: 0;
    font-weight: normal;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  button[type="submit"],
  button[type="button"] {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4285f4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #347ae8;
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
  }
  
  a {
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
  }
  .App {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .App-header {
    background-color: #282C34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61DAFB;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
  }
  body {
      background-color: #F3F3F3;
  }
  #navbar {
      background-color: #002349;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .nav-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-between;
  }
  .brand-logo {
    width: 180px;
    font-size: 24px;
      font-weight: 500;
      cursor: pointer;
  }
  .nav-links {
      list-style: none;
      display: flex;
  }
  .nav-links li {
      margin-left: 30px;
      margin-top: 60px;
  }
  .nav-links a {
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      transition: color 0.3s ease;
  }
  .nav-links a:hover {
      color: #CCE5FF;
  }
  
 
  
    .brand-logo:hover {
      animation: shake 0.5s;
    }
    @keyframes shake {
      0% { transform: translateX(0); }
      10% { transform: translateX(-5px) rotate(-5deg); }
      20% { transform: translateX(5px) rotate(5deg); }
      30% { transform: translateX(-5px) rotate(-5deg); }
      100% { transform: translateX(0); }
    }
    .nav-links li:hover {
      color: gold;
    }  

    
  
    .footer {
      padding-top: 6px;
      color: white;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 48px;
      background-color: black;
      text-align: center;
      width: 100%;
    }

    .social-icons i {
      padding-top: 3px;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
    }

    .back{
      color:white;
      height: 0%;
      padding-top: 0px;
     
      
    }
    .back-vedio{
      position: fixed;
      z-index: -1;
      opacity: 0.5;
      width: 100%;
 
     right :0;
     top: -19px;
     bottom: -2px;
   
    }

    button {
      display: inline-block;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #008CBA;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: gold;
    }

    #option-select {
      font-size: 24px;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: none;
      background-color:gold;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
    
    #option-select option {
      background-color: #FFF;
      color: #000;
    }
    
    #option-select:hover {
      background-color: #F57F17;
    }
    
    #option-select:focus {
      background-color: #FFB300;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    #option-select:active {
      background-color: #EF6C00;
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    #option-container {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fadeIn 1s ease-in-out;
    }

    .client-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 25px;
    }

    
    .client-card {
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      width: calc(33.33% - 20px);
      margin-bottom: 60px;
    }
    
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #eee;
    }
    
    .card-header h3 {
      margin: 0;
      font-size: 24px;
    }
    
    .delete-button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: #ff0000;
      cursor: pointer;
    }
    
    
    .card-body {
      padding: 10px;
    }
    
    .card-body p {
      margin: 0;
      font-size: 20px;
    }
    
    .balance-input {
      display: flex;
      align-items: center;

    }
    
    .balance-input button {
      background-color: #151414;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    
    .balance-input button:hover {
      background-color: #e0e0e0;
    }
    
    .balance-input input {
      margin: 0 10px;
      width: 120px;
      padding: 5px;
      font-size: 20px;
      text-align: center;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
    }
    
    .balance-input input:focus {
      outline: none;
      background-color: #e0e0e0;
    }
    
    @media screen and (max-width: 768px) {
      .client-card {
        width: 100%;
      }
    }

    .cl{
width: 300px;
margin-right: 500px;
clip-path: circle(55% at center);
transition: transform 0.3s ease-in-out;
    }
    .cl:hover {
 transform: scale(1.1); 
    }

    .ow{
width: 300px;
clip-path: circle(55% at center);
  transition: transform 0.3s ease-in-out;
    }
    .ow:hover {
      transform: scale(1.1); 
    }


    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


#welcome-heading {
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  line-height: 1.2;
}

#welcome-heading strong {
  font-weight: 700;
}




    
    .formclient {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px auto;
      padding: 20px;
      background-image: url('./11.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      text-align: center;
      font-size: 1.3rem; 
      width: 80%;
      max-width: 600px;
      height: 500px;
      border-radius: 10px;
    }
    
    .formclient h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    
    .formclient label {
      display: block;
      margin: 20px 0;
    }
    
    .formclient input[type="email"],
    .formclient input[type="password"] {
      text-align: center;
      font-size: 1.5rem;
      width: 100%; 
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
    }
    
    .formclient button[type="submit"],
    .formclient button[type="button"] {
      background-color: #007bff;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;
    }
    
    .formclient button[type="submit"]:hover,
    .formclient button[type="button"]:hover {
      background-color: #0062cc;
    }
    
    .formclient p {
      margin-top: 20px;
    }

    
    .formowner {
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px auto;
      padding: 20px;
      background-image: url('./22.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      text-align: center;
      font-size: 1.3rem;
      width: 80%;
      max-width: 600px;
      height: 500px;
      border-radius: 10px;
    }
    
    .formowner h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    
    .formowner label {
      display: block;
      margin: 20px 0;
    }
    
    .formowner input[type="email"],
    .formowner input[type="password"] {
      text-align: center;
      font-size: 1.5rem;
      width: 100%; 
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
    }
    
    .formowner button[type="submit"],
    .formowner button[type="button"] {
      background-color: #007bff;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;
    }
    
    .formowner button[type="submit"]:hover,
    .formowner button[type="button"]:hover {
      background-color: #0062cc;
    }
    
    .formowner p {
      margin-top: 20px;
    }
    



@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@700;900&display=swap');


.tittle {
  color: gold;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Lobster", cursive;
  font-size: 38px;
  line-height: 1.2;
}

#welcome-heading span {
  color: gold;
  font-size: 40px;
}






.formaclient {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 60px;
  padding-top: 25px;
  background-image: url('./cash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.5rem; 
  width: 80%;
  max-width: 600px;
  height: 750px;
  border-radius: 10px;
}

.formaclient h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.formaclient label {
  display: block;
  margin: 20px 0;
}

.formaclient input[type="text"],
.formaclient input[type="email"],
.formaclient input[type="password"] {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.formaclient button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.formaclient button[type="submit"]:hover {
  background-color: #0062cc;
}

.formaclient p {
  margin-top: 20px;
}

.formaowner {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 60px;
  padding-top: 25px;
  background-image: url('./cash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.5rem; 
  width: 80%;
  max-width: 600px;
  height: 630px; 
  border-radius: 10px;
}

.formaowner h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.formaowner label {
  display: block;
  margin: 20px 0;
}

.formaowner input[type="text"],
.formaowner input[type="email"],
.formaowner input[type="password"] {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.formaowner button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.formaowner button[type="submit"]:hover {
  background-color: #0062cc;
}

.formaowner p {
  margin-top: 20px;
}



.popup {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  animation: zoomInOut 0.5s ease-in-out;
  background-image: linear-gradient(to bottom, #FFEFBA, #FFFFFF);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
}

.popa {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
 z-index: 9999;
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: popout 1s ease-out forwards;
}

.pop {
  display: inline-block;
  position: relative;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  animation: pulse 1s infinite;
}

.pop-dot {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  animation: pulse-dot 1s infinite;
}

.popup h1 {
  line-height: 1.5;
  padding-bottom: 15px;
  padding-top: 15px;
}


@keyframes popout {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.logout{
  margin-left: 1463px;
  margin-top: 10px;
}


.headOwner {
  margin-bottom: 30px; 
  text-align: left;
  padding-left: 40px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  line-height: 1.1;
}

.welcomeword {
  padding-left: 30px;
color: gold;
}




.clientlist{
  color: #002349;
  margin-top: 40px; 
  margin-bottom: 9px; 
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  font-family: "Lobster", cursive;
}

.urid{
  animation: urid 5s ease-in-out infinite alternate;
}

@keyframes urid {
  0% {
    color: rgb(0, 0, 0); /* Red color */
  }
  25% {
    color: rgb(255, 255, 255) ; /* Green color */
  }
  50% {
    color: rgb(0, 0, 0); /* Blue color */
  }
  75% {
    color: rgb(255, 255, 255); /* Yellow color */
  }
  100% {
    color: rgb(0, 0, 0); /* Magenta color */
  }
}

.clientinterface{
  padding-top: 45px;
  
  color: black;
  font-size: 70px;
}

.clientinterface p{
  padding-left: 5px;
  line-height: 1.1;
  padding-top: 32px;
  color: black;
  font-size: 80px;
  text-align: left;

}



.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.about-title {
  margin-top: 90px;
  font-size: 32px;
  margin-bottom: 20px;
  color: black
}

.about-text {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 50px;
}


.contact-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.contact-us h2 {
  padding-top: 92px;
  font-size: 32px;
  margin-bottom: 20px;
  color: black;
}

.contact-us label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;

}

.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-us input[type="submit"] {
  background-color: #1d3557;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-us input[type="submit"]:hover {
  background-color: #0b2644;
}

.contact-us p {
  font-size: 16px;
  margin-top: 20px;
  color: #000000;
}

.contact-us a {
  color: #006aff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-us a:hover {
  color: #004391;
}

.inputclients{
  max-width: 10000px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 700px;
  padding-right: 700px;
}

.inputclients input {
  text-align: center;
}
=======
}

body {
    background-color: #f3f3f3;
}

#navbar {
    background-color: #002349;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #cce5ff;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.brand-logo.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.card {
  width: 700px;
  height: 170px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 10px;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }
  
  #signup {
    margin-top: 0;
    font-weight: normal;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  button[type="submit"],
  button[type="button"] {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4285f4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #347ae8;
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
  }
  
  a {
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
  }
  .App {
    text-align: center;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .App-header {
    background-color: #282C34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61DAFB;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
  }
  body {
      background-color: #F3F3F3;
  }
  #navbar {
      background-color: #002349;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .nav-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-between;
  }
  .brand-logo {
    width: 180px;
    font-size: 24px;
      font-weight: 500;
      cursor: pointer;
  }
  .nav-links {
      list-style: none;
      display: flex;
  }
  .nav-links li {
      margin-left: 30px;
      margin-top: 60px;
  }
  .nav-links a {
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      transition: color 0.3s ease;
  }
  .nav-links a:hover {
      color: #CCE5FF;
  }
  
 
  
    .brand-logo:hover {
      animation: shake 0.5s;
    }
    @keyframes shake {
      0% { transform: translateX(0); }
      10% { transform: translateX(-5px) rotate(-5deg); }
      20% { transform: translateX(5px) rotate(5deg); }
      30% { transform: translateX(-5px) rotate(-5deg); }
      100% { transform: translateX(0); }
    }
    .nav-links li:hover {
      color: gold;
    }  

    .about {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
      line-height: 1.6;
      color: #333;
      padding: 40px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
    
    .about:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    
    .about p {
      margin-bottom: 20px;
    }
    
    .about h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
    
    .about a {
      color: #007bff;
      text-decoration: none;
    }
    
    .about a:hover {
      text-decoration: underline;
    }
    .contact-us {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
      color: #333;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      padding: 0px;
      margin: 20px auto;
      max-width: 600px;
    }
    
    .contact-us h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }
    
    .contact-us form {
      display: flex;
      flex-direction: column;
    }
    
    .contact-us label {
      margin-bottom: 10px;
    }
    
    .contact-us input,
    .contact-us textarea {
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
    
    .contact-us input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
    
    .contact-us input[type="submit"]:hover {
      background-color: #0069d9;
    }
    
    .contact-us p {
      font-size: 16px;
      text-align: center;
      margin-top: 5px;
    }
    
    .contact-us a {
      color: #007bff;
      text-decoration: none;
    }
    
    .contact-us a:hover {
      text-decoration: underline;
    }

    footer {
      position:absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      height: 2.5rem;
    }

